Natural Language Processing/Project 001. 영어 문장 감성 분석/*.csv
Natural Language Processing/Project 002. 이모지 데이터 유사도 검증/train.txt
Natural Language Processing/Project 002. 이모지 데이터 유사도 검증/*.csv
Natural Language Processing/Project 003. Python 코드 자동 수정/Python_code_data.txt
Natural Language Processing/Project 003. Python 코드 자동 수정/*.csv
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/archive.zip
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/archive/*
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/*.csv
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/latent_vector_model/*
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/main_model/*
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/embedding_model/*
Natural Language Processing/Project 005. 미니 ChatGPT 만들기 (2)/archive.zip
Natural Language Processing/Project 005. 미니 ChatGPT 만들기 (2)/archive/*
Natural Language Processing/Project 005. 미니 ChatGPT 만들기 (2)/*.csv
Natural Language Processing/Project 005. 미니 ChatGPT 만들기 (2)/mini_chatgpt_model/*
Natural Language Processing/Project 006. Python 코드 개행 여부 판단/Python_code_data.txt
Natural Language Processing/Project 006. Python 코드 개행 여부 판단/Python_code_data_modified.txt
Natural Language Processing/Project 006. Python 코드 개행 여부 판단/*.csv
Natural Language Processing/Project 006. Python 코드 개행 여부 판단/main_model/*
Image Processing/Project 001. 사과와 토마토 분류/archive.zip
Image Processing/Project 001. 사과와 토마토 분류/archive/*
Image Processing/Project 001. 사과와 토마토 분류/images/*
Image Processing/Project 002. MNIST 이미지 해상도 늘리기/archive.zip
Image Processing/Project 002. MNIST 이미지 해상도 늘리기/*.csv
Image Processing/Project 002. MNIST 이미지 해상도 늘리기/main_model/*
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/archive.zip
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/archive/*
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/images/*
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/*.csv
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/main_vae/*
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/main_vae_encoder/*
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/main_vae_decoder/*
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/test_images_resized/*
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/test_output/*
Image Processing/Project 003. 흑백 이미지 컬러화 (생성형 AI 적용)/input_convert_test_result/*
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/*.csv
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/*.csv.zip
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/cvae_model/*
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/cvae_encoder_model/*
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/cvae_decoder_model/*
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/classify_nums_model/*
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/test_imgs/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/*.csv
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/archive.zip
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/archive/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/thispersondoesnotexist.10k/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/ThisPersonDoesNotExist/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/resized_images/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/cvae_model/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/cvae_encoder_model/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/cvae_decoder_model/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/classify_male_or_female/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/regression_hair_color/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/regression_mouth/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/regression_eyes/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/regression_background_mean/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/regression_background_std/*
Generative AI/Project 002. Conditional VAE 를 이용한 사람 얼굴 생성하기/regression_other_person/*
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_512
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_512/*
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_256
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_256/*
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_exp1_anomaly
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_exp1_anomaly/*
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_exp1_classify
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_exp1_classify/*
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_exp3_classify
Image Processing/Special - Vision Anomaly Detection 필요성/mvtec_dataset_exp3_classify/*
Image Processing/Special - Vision Anomaly Detection 필요성/models/glass_anomaly_source
Image Processing/Special - Vision Anomaly Detection 필요성/models/glass_anomaly_source/*
Image Processing/Special - Vision Anomaly Detection 필요성/run_experiment/exp1_*
Image Processing/Special - Vision Anomaly Detection 필요성/run_experiment/exp2_*
Image Processing/Special - Vision Anomaly Detection 필요성/run_experiment/exp3_*
Image Processing/Special - OCR Experiment/scanned_images_dataset
Image Processing/Special - OCR Experiment/scanned_images_dataset/*
Image Processing/Special - OCR Experiment/standard_ocr_dataset
Image Processing/Special - OCR Experiment/standard_ocr_dataset/*
Image Processing/Special - OCR Experiment/test_rotate_minus_5_deg.png
Image Processing/Special - OCR Experiment/test_rotate_plus_25_deg.png
Image Processing/Special - OCR Experiment/models
Image Processing/Special - OCR Experiment/models/*.pth
Image Processing/Special - OCR Experiment/test_extract_letter
Image Processing/Special - OCR Experiment/test_extract_letter/*
Image Processing/Special - OCR Experiment/test_result
Image Processing/Special - OCR Experiment/test_result/*
Image Processing/Special - OCR Experiment/final_result
Image Processing/Special - OCR Experiment/final_result/*
LangChain Study/LangChain Practice/llm_fine_tuning/midm_original_llm
LangChain Study/LangChain Practice/llm_fine_tuning/midm_original_llm/*
*.pyc
__pycache__/
.idea/*
venv
venv/*