Natural Language Processing/Project 001. 영어 문장 감성 분석/*.csv
Natural Language Processing/Project 002. 이모지 데이터 유사도 검증/train.txt
Natural Language Processing/Project 002. 이모지 데이터 유사도 검증/*.csv
Natural Language Processing/Project 003. Python 코드 자동 수정/Python_code_data.txt
Natural Language Processing/Project 003. Python 코드 자동 수정/*.csv
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/archive.zip
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/archive/*
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/*.csv
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/latent_vector_model/*
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/main_model/*
Natural Language Processing/Project 004. 미니 ChatGPT 만들기/embedding_model/*
Image Processing/Project 001. 사과와 토마토 분류/archive.zip
Image Processing/Project 001. 사과와 토마토 분류/archive/*
Image Processing/Project 001. 사과와 토마토 분류/images/*
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/*.csv
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/*.csv.zip
Generative AI/Project 001. MNIST 숫자 생성 AI with C-VAE/cvae_model/*
*.pyc
__pycache__/